@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::before,
.clearfix::after
{
  display: block;
  clear: both;
  content: "";
}
.warpper {
  width: 900px;
  background-color: #eff3f4;
  margin: 0 auto;
}
.outer__box {
  background-color: #3274ae;
  float: left;
  width: 270px;
  margin: 20px 0px 20px 20px;
}
.inner__box {
  background-color: #eaf4ff;
  border: 10px solid #022336;
  margin: 20px;
}
.text {
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
}
/* 回答はここに書いてね */
