@charset "UTF-8";

/* 回答はここに書いてね */

.box__outer{
  margin: 0;
  width: 900px;
  background-color: #eff3f4;
}

.box1{
  padding: 20px 20px 0px 20px;
}

.img_1{
  float: left;
  margin: 0px 20px 10px 0px;
}

.box2{
  padding: 0px 20px 20px 20px;
}

.img_2{
  float: right;
  margin: 0px 0px 10px 20px ;
}

p{
  font-size: 18px;
  line-height: 22px;
}
/* 回答はここに書いてね */
