@charset "UTF-8";

/* 回答はここに書いてね */
.box__outer {
  margin: 0 auto;
  width: 900px;
  background-color: #eff3f4;
  padding: 20px;
  box-sizing: border-box;
}

.img_1 {
  float: left;
  margin: 0px 20px 10px 0px;
}

.img_2 {
  float: right;
  margin: 0px 0px 10px 20px ;
}

.text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}
/* 回答はここに書いてね */
